@{
    ViewData["Title"] = "Прайс-лист Dynatone";
}

<div class="container-fluid px-5" style="height:100vh;">
    <div class="row mt-4">
        <div class="col-12">
            <h1 class="h1">Прайс-листы Dynatone</h1>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <p id="lastupdate" class="p-0">Последнее обновление:</p>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-auto px-0">
            <button type="button" id="btnView" class="btn btn-primary mr-3">Обновить прайс от поставщика</button>
        </div>
        <div class="col">
            <div id="downloadprogresscont" class="progress mt-1" style="width:250px; display:none">
                <div id="downloadprogress" class="progress-bar" role="progressbar" style="width:75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">0</div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-auto px-0">
            <button type="button" id="btnSettings" class="btn btn-primary mr-3" data-toggle="modal" data-target="#settingsModal">Настройки</button>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-auto px-0">
            <a href="Dynatone/Exclusions" class="btn btn-primary mr-3" role="button">Исключения</a>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-auto px-0">
            <button type="button" id="btnResult" class="btn btn-primary mr-3" data-toggle="modal" data-target="#resultsModal">Сформировать Excel-файл</button>
        </div>
    </div>
</div>


<!-- Modal dialogs-->
<div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="settingsModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="settingsModalTitle">Настройки парсинга</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form>
                    <div class="row mt-3">
                        <div class="col-6 d-inline-flex">
                            <label for="inpPreorderInDays" class="text-nowrap mr-2" style="margin-top:2px;">Предзаказ в днях:</label>
                            <input type="number" class="form-control form-control-sm" id="inpPreorderInDays" required>
                        </div>

                        <div class="col-6 d-inline-flex">
                            <label for="inpMinStockAvail" class="text-nowrap mr-2" style="margin-top:2px;">Мин. кол-во:</label>
                            <input type="number" class="form-control form-control-sm" id="inpMinStockAvail" required>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col">
                            <input id="chkIsFavorite" type="checkbox" class="custom-checkbox mr-2" required>
                            <label for="chkIsFavorite">Парсить цены по товарам</label>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button id="savesettings" type="button" class="btn btn-primary">Сохранить</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="resultsModal" tabindex="-1" role="dialog" aria-labelledby="resultsModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="resultsModalTitle">Параметры вывода</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row mt-2">
                    <div class="col">
                        <input id="chkPreviewWithIds" type="checkbox" class="custom-checkbox mr-2" required>
                        <label for="chkPreviewWithIds">Предпросмотр с ID товаров и групп</label>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <input id="chkExcludeNotInStock" type="checkbox" class="custom-checkbox mr-2" required>
                        <label for="chkExcludeNotInStock">Исключить товары, которых нет на складе</label>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <input id="chkExcludeExcludedItems" type="checkbox" class="custom-checkbox mr-2" required>
                        <label for="chkExcludeExcludedItems">Исключить товары согласно списка ID товаров</label>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <input id="chkExcludeExcludedGroups" type="checkbox" class="custom-checkbox mr-2" required>
                        <label for="chkExcludeExcludedGroups">Исключить товары согласно списка ID групп</label>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <label for="chkExcludeExcludedGroups">Курс RUB/KZT:</label>
                        <input id="inpExRate" inputtype="number" class="form-control form-control-sm" required>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button id="downloadResult" type="button" class="btn btn-primary">Сформировать</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>


@section Scripts
    {
    <script>
        $(document).ready(function () {
            var updateProgressTimer;

            updateLastUpdateInfo();

            $("#btnView").bind('click', function () {

                $.ajax({
                    type: "GET",
                    url: "Dynatone/startUpdatePl",
                    success: function (response) {
                        if (response.success) {
                            startUpdating();
                        }
                        else {
                            alert(response.responseText);
                        }

                    },
                    error: function (errormessage) {
                        alert("Неизвестная ошибка " + errormessage);
                    }
                });
            });

            function startUpdating() {
                $("#downloadprogresscont").show();

                var prb = $("#downloadprogress");
                prb.html("0");
                prb.prop("aria-valuenow", "75");
                prb.css("width", "0%");

                updateProgressTimer = setInterval(getUpdateProgress, 100);
            }

            function getUpdateProgress() {
                $.ajax({
                    type: "GET",
                    url: "Dynatone/getUpdatePlProgress",
                    success: function (result) {
                        if (result >= 500) {
                            updateCompleted();
                        }
                        else {
                            var prb = $("#downloadprogress");
                            prb.html(result);
                            prb.prop("aria-valuenow", result);
                            prb.css("width", result + "%");
                        }
                    },
                    error: function (errormessage) {
                        alert(errormessage.responseText);
                    }
                });
            };

            function updateCompleted() {
                clearInterval(updateProgressTimer);
                $("#downloadprogresscont").hide();
                setTimeout(updateLastUpdateInfo, 500);
            };

            function updateLastUpdateInfo() {
                $.ajax({
                    type: "GET",
                    url: "Dynatone/getPlLastUpdate",
                    success: function (result) {
                        $("#lastupdate").html("Последнее обновление: " + result);
                    },
                    error: function (errormessage) {
                        alert(errormessage.responseText);
                    }
                });
            };

            $('#settingsModal, #resultsModal').on('shown.bs.modal', function () {
                setSettingsValuesToFields();
            });
            function setSettingsValuesToFields() {
                $.ajax({
                    type: "GET",
                    url: "Dynatone/settings",
                    success: function (response) {
                        $('#inpPreorderInDays').val(response.preorderInDays);
                        $('#inpMinStockAvail').val(response.minStockAvail);
                        $('#chkIsFavorite').prop('checked', response.isFavorite);
                        $("#chkPreviewWithIds").prop('checked', response.previewWithIds);
                        $("#chkExcludeNotInStock").prop('checked', response.excludeNotInStock);
                        $("#chkExcludeExcludedItems").prop('checked', response.excludeExcludedItems);
                        $("#chkExcludeExcludedGroups").prop('checked', response.excludeExcludedGroups);
                        $('#inpExRate').val(response.exchangeRate);
                    },
                    error: function (errormessage) {
                        alert("Неизвестная ошибка " + errormessage);
                    }
                });
            };

            $('#savesettings').on('click', function () {
                $.ajax({
                    type: "POST",
                    url: "Dynatone/settings",
                    data: JSON.stringify({ preorderInDays: Number($('#inpPreorderInDays').val()), minStockAvail: Number($('#inpMinStockAvail').val()), isFavorite: $('#chkIsFavorite').is(":checked") }),
                    contentType: "application/json;charset=utf-8",
                    success: function (response) {

                    },
                    error: function (errormessage) {
                        alert("Неизвестная ошибка " + errormessage);
                    }
                });
                $('#settingsModal').modal('hide');
            });


            $('#downloadResult').on('click', function () {
                $('#downloadResult').html("Формируется...");
                $('#downloadResult').prop('disabled', true);

                $.ajax({
                    type: "POST",
                    url: "Dynatone/generatexls",
                    data: JSON.stringify({ previewWithIds: $('#chkPreviewWithIds').is(":checked"), excludeNotInStock: $('#chkExcludeNotInStock').is(":checked"), excludeExcludedItems: $('#chkExcludeExcludedItems').is(":checked"), excludeExcludedGroups: $('#chkExcludeExcludedGroups').is(":checked"), exchangeRate: parseFloat($('#inpExRate').val()) }),
                    contentType: "application/json;charset=utf-8",
                    success: function (response) {
                        $('#downloadResult').removeAttr('disabled');
                        $('#downloadResult').html("Сформировать");
                        $('#resultsModal').modal('hide');
                        window.location = "Dynatone/getxls";
                    },
                    error: function (errormessage) {
                        alert("Неизвестная ошибка " + errormessage);
                        $('#downloadResult').removeAttr('disabled');
                        $('#downloadResult').html("Сформировать");
                        $('#resultsModal').modal('hide');
                    }
                });

            });

        });

    </script>
}
