/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    height: 97vh;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 3vh; /* Vertically center the text there */
}


.tabulator {
    border-radius: 5px;
    background-color: white;
}

    .tabulator .tabulator-header .tabulator-col {
        background-color: #1b6ec2;
        color: white;
    }

    .tabulator .tabulator-header:hover .tabulator-col:hover {
        background-color: #1b6ec2;
        color: white;
    }

    .tabulator .tabulator-footer {
        background-color: black;
    }

    .tabulator .tabulator-row {
        background-color: white;
        border-bottom: 1px solid lightgray;
    }

        .tabulator .tabulator-row:hover {
            background-color: #ecf8ff;
        }

    .tabulator .tabulator-selected {
        background-color: #c4e8ff;
    }

        .tabulator .tabulator-selected:hover {
            background-color: #b2e1ff;
        }

    /* Define the style when the column is not sorted */
    .tabulator .tabulator-header .tabulator-col.tabulator-sortable[aria-sort="none"] .tabulator-col-content .tabulator-col-sorter {
        color: gray;
    }

    /* Define the style when the column is sorted in ascending order */
    .tabulator .tabulator-header .tabulator-col.tabulator-sortable[aria-sort="asc"] .tabulator-col-content .tabulator-col-sorter {
        color: white;
    }

    /* Define the style when the column is sorted in descending order */
    .tabulator .tabulator-header .tabulator-col.tabulator-sortable[aria-sort="desc"] .tabulator-col-content .tabulator-col-sorter {
        color: white;
        transform: scaleY(-1); /* flip the icon vertically so the arrow points down */
    }




.btn-home {
    width: 130px;
}
.btn-view-pricelist {
    width:130px;
}


.pl-filter-menu li label {
    display: block;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    margin: 0;
    transition: background-color .4s ease;
}

.pl-filter-menu li input {
    margin: 0px 5px;
    top: 2px;
    position: relative;
}

.pl-filter-menu li.active label {
    background-color: #cbcbff;
    font-weight: bold;
}

.pl-filter-menu li label:hover,
.pl-filter-menu li label:focus {
    background-color: #f5f5f5;
}

.pl-filter-menu li.active label:hover,
.pl-filter-menu li.active label:focus {
    background-color: #b8b8ff;
}