@{
    Layout = "_PricelistMainLayout";
    ViewData["Title"] = "Dynatone";
}

@section SupplierItemView
{
    <img id="imgProduct" class="mt-3" style="max-height:30%;max-width:100%;display: block; margin-left: auto; margin-right: auto">
    <br />
    <span><b>Код:</b></span>
    <span id="Kod"></span>
    <br />
    <span><b>Код Группы:</b></span>
    <span id="KodGruppy"></span>
    <br />
    <span><b>Наименование:</b></span>
    <span id="Naimenovanie"></span>
    <br />
    <span><b>РРЦ:</b></span>
    <span id="RRC"></span>
    <br />
    <span><b>Цена дилер:</b></span>
    <span id="CenaDiler"></span>
    <br />
    <span><b>Кол-во для опта:</b></span>
    <span id="KolichestvoDlyaOpta"></span>
    <br />
    <span><b>Вид номенклатуры:</b></span>
    <span id="VidNomenklatury"></span>
    <br />
    <span><b>Бренд:</b></span>
    <span id="Brand"></span>
    <br />
    <span><b>Модель c модификацией:</b></span>
    <span id="ModelSModifikaciyey"></span>
    <br />
    <span><b>Артикул:</b></span>
    <span id="Articul"></span>
    <br />
    <span><b>Баркод:</b></span>
    <span id="Barcode"></span>
    <br />
    <span><b>Модель:</b></span>
    <span id="Model"></span>
    <br />
    <span><b>Модификация:</b></span>
    <span id="Modifikaciya"></span>
    <br />
    <span><b>Код с префиксом:</b></span>
    <span id="KodSPrefixom"></span>
    <br />
    <span><b>Страна происхождения:</b></span>
    <span id="StranaProishojdenia"></span>
    <br />
    <span><b>Вес:</b></span>
    <span id="Ves"></span>
    <br />
    <span><b>Длина:</b></span>
    <span id="Dlina"></span>
    <br />
    <span><b>Ширина:</b></span>
    <span id="Shirina"></span>
    <br />
    <span><b>Высота:</b></span>
    <span id="Vysota"></span>
    <br />
    <span><b>Описание:</b></span>
    <span id="Opisanie"></span>
    <br />
}

@section Scripts
{
    <script>
        controllerName = 'dynatone';
    </script>
}

@section CodeGroupColumnSetupJS
{
    {
    title: "Код группы",
    field: "groupCode",
    width: 120,
    formatter: groupCodeFormatter,
    contextMenu: cmCodeGroupCell.concat(cmGeneral)
    },
}

@section ShowSupplierItemDataJS
{
    $('#imgProduct').attr("src", response.izobrazhenie);
    $('#Kod').html(response.kod);
    $('#KodGruppy').html(response.kodGruppy);
    $('#Naimenovanie').html(response.naimenovanie);
    $('#RRC').html(response.rRC);
    $('#CenaDiler').html(response.cenaDiler);
    $('#KolichestvoDlyaOpta').html(response.kolichestvoDlyaOpta);
    $('#VidNomenklatury').html(response.vidNomenklatury);
    $('#Brand').html(response.brand);
    $('#ModelSModifikaciyey').html(response.modelSModifikaciyey);
    $('#Articul').html(response.articul);
    $('#Barcode').html(response.barcode);
    $('#Model').html(response.model);
    $('#Modifikaciya').html(response.modifikaciya);
    $('#KodSPrefixom').html(response.kodSPrefixom);
    $('#StranaProishojdenia').html(response.stranaProishojdenia);
    $('#Ves').html(response.ves);
    $('#Dlina').html(response.dlina);
    $('#Shirina').html(response.shirina);
    $('#Vysota').html(response.vysota);
    $('#Opisanie').html(response.opisanie);
}