<div class="modal fade" id="downloadXLSModal" tabindex="-1" role="dialog" aria-labelledby="downloadXLSModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="downloadXLSlModalTitle">Сформировать Excel-файл</h5>
                <button id="btnDownloadXLSHeader" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <input id="chkIncludeExcluded" type="checkbox" class="custom-checkbox mr-2" required>
                        <label for="chkIncludeExcluded">Включить исключенные товары</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input id="chkIncludeUnavailable" type="checkbox" class="custom-checkbox mr-2" required>
                        <label for="chkIncludeUnavailable">Включить товары, которых нет в наличии</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input id="chkIncludeUnverified" type="checkbox" class="custom-checkbox mr-2" required>
                        <label for="chkIncludeUnverified">Включить непросмотренные товары</label>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button id="btnDownloadXLSGenerate" type="button" class="btn btn-primary">Сформировать</button>
                <button id="btnDownloadXLSClose" type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>