<div class="modal fade" id="plUploadModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="plUploadModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="plUploadModalTitle">Загрузка файла на сервер</h5>
            </div>

            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-12 text-center">Состояние загрузки:</div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <div class="progress">
                                <div class="progress-bar" id="uploadProgress" role="progressbar" style="width:0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12 text-center">Пожалуйста подождите...</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>